body{
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
form h2{
    text-align: center;
    color: brown;
}
label{
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
