body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F7E3D0; /* Beige claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  width: 350px;
  border-top: 8px solid #A6856A; /* Marrón suave */
}

h2 {
  text-align: center;
  color: #9B8784; /* Gris malva */
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #A6856A; /* Marrón suave */
}

input[type="email"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #A9A698; /* Gris cálido */
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #ffffff;
}

input[type="email"]:focus,
input[type="number"]:focus {
  border-color: #9FA292; /* Verde grisáceo */
}

button, input[type="reset"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  background-color: #A6856A; /* Marrón suave */
  color: white;
  margin-bottom: 10px;
}

button:hover {
  background-color: #9B8784; /* Gris malva */
}

input[type="reset"] {
  background-color: #A9A698; /* Gris cálido */
  color: white;
}

input[type="reset"]:hover {
  background-color: #9FA292; /* Verde grisáceo */
}
